<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Tax code:</strong>
    <%= employee.tax_code %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

</div>
